@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@100&family=Nunito:ital,wght@1,300;1,400&family=Open+Sans+Condensed:wght@300&family=Roboto:ital,wght@0,300;1,100;1,300&family=Teko:wght@300&display=swap');

:root{
  --primary-white:#fff;
  --primary-orange: orange;
  --primary-dark:rgba(255,255,255,0);
}

body{
  font-family: 'Roboto', sans-serif;
}

/******************NAVBAR**********************/

.logo{
  width:16.25rem;
}
/* *****MENU ITEM****** */
nav a.nav-link {
  
  letter-spacing: 0.0625rem;
  cursor: pointer;
}
nav ul li{
  text-transform: uppercase;
}
.navbar-nav > li > a{
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color:var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);

}
#navbarNav{
  margin-left: 300px;
}
.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top:0.1875rem solid var(--primary-orange);
}